.jumbotron {
    padding: 15px 0;
    margin: 10px;
    border-radius: 0;
}

#search {
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px royalblue;
    box-shadow: 0 0 10px royalblue;
    height: 28px;
    padding: 0px;
}

button:hover {
    background: #0b7dda;
}

button:active {
    transform: translateY(1px);
}
#cityName {
    border: 1px solid grey;
    margin: 0 0 10px 0;
}

body, html {
    margin: 0px;
    max-height: 100%;
}

#currentWeather {
    border: 1px solid #f1f1f1;
    padding: 10px;
    background-color: white;
    display: none;
    border-radius: 2px;
}
 #humidity, #wSpeed, #uvIndex {
    margin-top: 15px;
    display: inline-block;
}

button{
    display: block;
}

.button {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: white;
}

#cityHistory {
    padding: 10px 0;
}

@media screen and (max-width: 767px){ 
    #cityName {
        width: 120px;
    }
}

.container {
    height: 100%;
}

.forecast {
    background-color: rgb(36, 117, 238); 
    margin: 5px;
    padding: 5px;
    display: none;
    color: white;
    border-radius: 2px;
}

h4 {
    display: none;
    font-size: 22px;
    font-weight: bold;
}