.jumbotron {
    padding: 20px 0;
    background-blend-mode: screen;
    margin: 10px;
    border-radius: 0;
}

#search {
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px royalblue;
    box-shadow: 0 0 10px royalblue;
    float: left;
}

button:hover {
    background: #0b7dda;
}

button:active {
    transform: translateY(1px);
}
#cityName {
    border: 1px solid grey;
    width: 150px;
    float: left;
}

body, html {
    margin: 0px;
    max-height: 100%;
}

#currentWeather {
    border: 1px solid #f1f1f1;
    padding: 10px;
    background-color: white;
    background-blend-mode: screen;
    display: none;
}

#temperature {
    margin-top: 10px;
}